* {
  box-sizing: border-box;
  background-color:#FFE1A8;
  color:#472D30;
  text-align: center;
}

main {
  margin: auto 0;
}

header {
  position: relative;
  height: 30px;
  margin: 30px 0;
  font-family: 'Rubik', sans-serif;
}

h1 {
  font-family: 'Press Start 2P', cursive;
  font-size: 3.5em;
}

h3 {
  font-family: 'Press Start 2P', cursive;
  display: inline;
}

ul {
  list-style: none;
}

li {
  float: left;
  margin: 10px;
}

main li {
  float: none;
} 

a {
  text-decoration: none;
  font-size: 1.25em;
  color:#FFE1A8;
  background: #472D30;
  padding: 10px;
  border-radius: 5px;
}

a:hover {
  color: #472D30;
  border: 1px solid #472D30;
  background: #FFE1A8;
  border-radius:5px;
  padding: 10px;
}

main > ul > a:hover {
  transition: 200ms;
}

main a {
  font-size: 2.25em;
  font-family: 'Rubik', sans-serif;
}

main a:hover {
  transition: 200ms;
}

.container{
  position:relative;
  width: 900px;
  height: 500px;
  cursor: url('../img/pickaxe.cur'), auto;
}

canvas{
  position: absolute;
  top:0;
  left:0;
}

#night {
  z-index: 1;
  opacity: 1;
  pointer-events: none;
  background-color: transparent;
}

#board {
  margin-left: 22%;
}

#night {
  margin-left: 23%;
  margin-top: 5px;
}

#exitButton {
  margin-top: 30px;
}
