* {
  box-sizing: border-box;
  background-color:#FFE1A8;
  color:#472D30;
  text-align: center;
}

main {
  margin: auto 0;
  display: inline-block;
}

header {
  position: relative;
  height: 30px;
  margin: 50px 0;
  font-family: 'Rubik', sans-serif;
}

h1 {
  font-family: 'Press Start 2P', cursive;
  font-size: 3.5em;
}

ul {
  list-style: none;
}

li {
  float: left;
  margin: 10px;
}

main li {
  float: none;
}

a {
  text-decoration: none;
  font-size: 1.25em;
}

a:hover, button:hover {
  color: #FFE1A8;
  background:#472D30;;
  border-radius:5px;
  padding: 10px;
}

button {
  font-family: 'B612 Mono', monospace;
  color: #FFE1A8;
  padding: 10px;
  font-size: 1.5em;
  margin-top: 30px;
}

button:hover {
  transition: 200ms;
}

canvas {
  background-color: black;
  border-radius: 10px;
}