html, body
{
	min-height: 100%;
	font-family: sans-serif;
	cursor: none;
}

label
{
	display: inline-block;
	width: 75px;
}

#night
{
	position: fixed;
	top: 0; left: 0; bottom: 0; right: 0;
	
	pointer-events: none;
}

.float.right { float: right; }